Build_Win/
.vs/
Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vsconfig
*.csproj
Assets/_Recovery/
Assets/Animation/
Assets/Prefabs/
Assets/Scenes/
Assets/Settings/
Assets/SkySeries*Freebie
Assets/TextMesh*Pro
Assets/Thirdparty
Assets/TutorialInfo
Assets/UnityTechnologies
*.meta
*.asset
*.inputactions
*.slnx
